@inject BTCPayServer.Services.BTCPayServerEnvironment _env

<footer class="btcpay-footer d-print-none">
    <div class="d-flex flex-wrap flex-column justify-content-between flex-xl-row gap-3">
        <div class="d-flex flex-wrap justify-content-center justify-content-xl-start gap-4">
            @if (!string.IsNullOrEmpty(_env.OnionUrl) && !Context.Request.IsOnion())
            {
                <button type="button" class="d-flex align-items-center btn btn-link clipboard-button clipboard-button-hover" data-clipboard="@_env.OnionUrl" data-clipboard-hover>
                    <vc:icon symbol="logo-tor"/>
                    <span text-translate="true">Copy Tor URL</span>
                </button>
            }
        </div>
    </div>
</footer>
@if (User.Identity.IsAuthenticated)
{
    <div id="StatusUpdates" class="toast-container">
        <div id="BlazorStatus" class="toast blazor-status" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span class="blazor-status__state btcpay-status"></span>
                <h6 class="blazor-status__title ms-2 mb-0 me-auto"></h6>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="@StringLocalizer["Close"]">
                    <vc:icon symbol="close" />
                </button>
            </div>
            <div class="toast-body blazor-status__body text-secondary pt-0"></div>
        </div>
    </div>
}
